.section {
  flex-basis: calc(50% - 30px);
  width: calc(50% - 30px);
}
.ordersIds {
  display: flex;
  flex-wrap: nowrap;
  gap: 36px;
  flex-wrap: nowrap;
}
.idsBlock {
  flex-basis: 50%;
  width: 50%;
}
.list {
  padding: 0;
  list-style-type: none;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
}
.list::-webkit-scrollbar {
  width: 12px;
  scrollbar-width: thin;
}
.list::-webkit-scrollbar-track {
  background: var(--background-element);
  border-radius: 6px;
}
.list::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid var(--background-element);
  border-radius: 6px;
}
.listItem {
  letter-spacing: 4px;
  display: inline;
}
.ready {
  color: var(--colors-interface-success);
}
