.element {
  box-sizing: content-box;
  position: relative;
}

.element.constructor-element {
  width: 100%;
  display: block !important;
}

.drag {
  position: absolute;
  content: '';
  top: 50%;
  left: -32px;
  transform: translateY(-16px);
  width: 32px;
  height: 32px;
}

.action {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.listItem {
  list-style-type: none;
  padding: 0;
  scroll-snap-align: start;
}
.listItem:last-of-type {
  margin-bottom: 0;
}

.hovered {
  background: linear-gradient(to bottom, transparent 0%, rgba(76, 76, 255, 0.2) 10%, transparent 50%);
  padding-top: 40px;
  box-sizing: content-box;
  transition: padding .2s ease-in-out;
}
.dragged {
  transform: scale(.8);
  opacity: .5;
}

li:last-of-type.hovered {
  padding-top: 0;
  padding-bottom: 40px;
  background: linear-gradient(to top, transparent 0%, rgba(76, 76, 255, 0.2) 10%, transparent 50%);

}