.element {
  width: 95%;
  box-sizing: content-box;
  height: 80px;
  display: flex;
}

.content {
  padding: 20px 35px;
  box-sizing: border-box;
  height: 80px;
  background: var(--background);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 7fr 2fr 1fr;
  gap: 20px;
}
.drag {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.position_top {
  max-width: calc((100% - 8px) *0.95);
}

.position_bottom {
  max-width: calc((100% - 8px) * 0.95);
}
.position_center {
  border-radius: 40px;
}
.border_style_top {
  border-radius: var(--top-constructor-item-border-radius);
}
.border_style_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
.border_style_center {
  border-radius: 40px;
}

.image {
  width: 40px;
  height: 40px;
}

.text {
  width: 230px;
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  text-align: left;
}

.price {
  width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.price svg {
  margin-left: 8px;
}

.action {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.listItem {
  max-height: 80px;
  list-style-type: none;
  padding: 0;
  scroll-snap-align: start;
}
.listItem:last-of-type {
  margin-bottom: 0;
}
.hovered {
  background: linear-gradient(to bottom, transparent 0%, rgba(76, 76, 255, 0.2) 10%, transparent 50%);
  padding-top: 40px;
  box-sizing: content-box;
  transition: padding .2s ease-in-out;
}
.dragged {
  transform: scale(.8);
  opacity: .5;
}

li:last-of-type.hovered {
  padding-top: 0;
  padding-bottom: 40px;
  background: linear-gradient(to top, transparent 0%, rgba(76, 76, 255, 0.2) 10%, transparent 50%);

}