.main {
  max-width: 1240px;
  max-height: calc(100vh - 88px);
  width: 100%;
  margin: 0 auto;
  background-color: #131316;
}
.content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
}